{% load static compress %}
{% load i18n %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" type="svg" href="/static/img/logo.svg">
        <link rel="stylesheet" href="{% static 'fonts/NotoSans/stylesheet.css' %}">
        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/main.sass' %}">
        {% endcompress %}
        <link rel="stylesheet" href="{% static 'libs/slick/slick.css' %}">
        <title>Gramline</title>
        {% block header %}{% endblock %}
    </head>
    <body>
        <div class="page-wrapper">
            {% include 'layout/header.html' %}
            <div class="page-bg">
                <div class="page-bg__slider">
                    <div class="page-bg__item">
                        <img src="{% static 'img/bgs/1.jpg' %}" alt="">
                    </div>
                    <div class="page-bg__item">
                        <img src="{% static 'img/bgs/2.jpg' %}" alt="">
                    </div>
                    <div class="page-bg__item">
                        <img src="{% static 'img/bgs/3.jpg' %}" alt="">
                    </div>
                    <div class="page-bg__item">
                        <img src="{% static 'img/bgs/4.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <!-- /.page-bg -->
            <div class="page-container --w-news">
                <div class="page-grid">
                    <div class="sidebar-desktop">
                        {% include 'layout/sidebar.html' %}
                    </div>
                    {% include 'layout/menu.html' %}
                    <main class="page-main">
                        {% block content %}{% endblock %}
                    </main>
                    <div class="sidebar-mobile">
                        {% include 'layout/sidebar.html' %}
                    </div>
                    <div class="news">
                        <div class="news-calculator" style="display: none;">
                            {% include 'layout/calculator.html' %}
                        </div>
                        <div class="block-heading">{% blocktranslate %}news{% endblocktranslate %}</div>
                        <div class="news-inner">
                            <div class="news-picture">
                                {% if rss_news.0 %}
                                <img src="{{ rss_news.0.image }}" alt="">
                                {% endif %}
                            </div>

                            {% for article in rss_news %}
                            <div class="news-line">
                                <div class="news-line__date">
                                    <div class="news-line__date-time">{{ article.date|date:'H:i' }}</div>
                                    <div class="news-line__date-day">{{ article.date|date:'d/m' }}</div>
                                </div>
                                <a href="{{ article.link }}" target="_blank" class="news-line__link">
                                    <span class="news-line__link-top">{{ article.title }}</span>
                                    <span class="news-line__link-bottom">Europa League match prediction</span>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- /.news-inner -->
                    </div>
                    <!-- /.news -->
                </div>
            </div>
            {% include 'layout/footer.html' %}
            <div class="cookies-notyf">
                <div class="cookies-notyf__text">
                    <p class="cookies-notyf__text-title">
                        Your privacy
                    </p>
                    <p class="cookies-notyf__text-description">
                        We use cookies to improve your experience on our site and to show you relevant advertising.
                    </p>
                    <p class="cookies-notyf__text-description">
                        To find out more, read out our <a href="" class="link">privacy policy</a> and <a href="" class="link">cookie
                            policy</a>.
                    </p>
                </div>
                <div class="cookies-notyf__buttons">
                    <button class="cookies-notyf__buttons-agree primary-btn" id="cookies-agree">
                        <span>I agree</span>
                    </button>
                    <a class="cookies-notyf__buttons-more" href="">I need more information</a>
                </div>
            </div>
        </div>

        {% if not user.is_authenticated %}
        <div class="modal-wrap gift-modal" id="giftModal">
            <div class="modal-bg"></div>
            <div class="modal-window">
                <div class="modal-window__close">
                    <span>&times;</span>
                </div>
                <div class="gift-window__header">
                    {% blocktranslate %}Register and collect your gift!{% endblocktranslate %}
                </div>
                <div class="gift-window__inner">
                    <div class="gift-window__item">
                        <div class="gift-window__item-star">
                            <img src="{% static 'img/icons/star-red.svg' %}" alt="">
                        </div>
                        <div class="gift-window__item-text">
                            {% blocktranslate %}For satellites{% endblocktranslate %} <span class="color-selected --fw-7">$50</span> {% blocktranslate %}bonus for first bet up to{% endblocktranslate %} <span class="color-selected --fw-7">$500</span> {% blocktranslate %}and{% endblocktranslate %} <span class="color-selected --fw-7">$100</span> {% blocktranslate %}bonus for first bet over{% endblocktranslate %} <span class="color-selected --fw-7">$500</span>
                        </div>
                    </div>
                    <div class="gift-window__item">
                        <div class="gift-window__item-star">
                            <img src="{% static 'img/icons/star-yellow.svg' %}" alt="">
                        </div>
                        <div class="gift-window__item-text">
                            {% blocktranslate %}For master account{% endblocktranslate %} <span class="color-yellow --fw-7">$500</span> {% blocktranslate %}bonus{% endblocktranslate %}!
                        </div>
                    </div>
                </div>
                <!-- /.gift-window__inner -->
            </div>
        </div>
        <!-- /.modal-wrap -->
        <div class="modal-wrap" id="regModal">
            <div class="modal-bg"></div>
            <div class="modal-window">
                <div class="modal-window__inner">
                    <div class="modal-window__title">{% blocktranslate %}Register{% endblocktranslate %}</div>
                    <form class="modal-window__form" id="signup-form" action="sigup" method="POST">
                        <div class="modal-window__form-error">
                            {% blocktranslate %}One of the fields is incorrect{% endblocktranslate %}
                        </div>
                        {% csrf_token %}
                        <label class="input">
                            <input type="text" class="input__field" placeholder="Name" required="required">
                        </label>
                        <label class="input">
                            <input type="text" class="input__field" placeholder="Lastname" required="required">
                        </label>
                        <label class="input">
                            <input type="text" class="input__field" placeholder="Phone number" required="required">
                        </label>
                        <label class="input">
                            <input type="text" class="input__field" placeholder="Email address" required="required">
                        </label>
                        <label class="input">
                            <input type="text" class="input__field" placeholder="Country" required="required">
                        </label>
                        <label class="input">
                            <input type="text" class="input__field" placeholder="Invitation code" required="required">
                        </label>
                        <button class="primary-btn">
                            <span>{% blocktranslate %}Register{% endblocktranslate %}</span>
                        </button>
                    </form>
                </div>
                <!-- /.modal-window__inner -->
            </div>
        </div>
        <div class="modal-wrap" id="loginModal">
            <div class="modal-bg"></div>
            <div class="modal-window">
                <div class="modal-window__inner">
                    <div class="modal-window__title">{% blocktranslate %}Log in{% endblocktranslate %}</div>
                    <form class="modal-window__form" id="login-form" action="client/login/" method="POST">
                        <div class="modal-window__form-error">
                            {% blocktranslate %}One of the fields is incorrect{% endblocktranslate %}
                        </div>
                        {% csrf_token %}
                        <label class="input">
                            <input type="text" class="input__field" name="username" placeholder="Username">
                        </label>
                        <label class="input">
                            <input type="password" class="input__field" name="password" placeholder="Password">
                        </label>
                        <input type="hidden" name="login-type" id="login-type">
                        <button type="submit" class="primary-btn">
                            <span>{% blocktranslate %}Log in{% endblocktranslate %}</span>
                        </button>
                        <div class="modal-login__reset a-tooltip">
                            <p class="modal-login__reset-text"> {% blocktranslate %}Forgot? Reset password{% endblocktranslate %} </p>
                            <div class="a-tooltip__wrapper">
                                <div class="a-tooltip__inner">
                                    {% blocktranslate %}Contact support to reset your password.{% endblocktranslate %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.modal-window__inner -->
            </div>
        </div>

        <div class="modal-wrap" id="placeBetModal">
            <div class="modal-bg contacts"></div>
            <div class="modal-window contacts">
                <div class="modal-window__header">
                    <div class="modal-window__close contacts" id="placeBetClose">
                        <span>&times;</span>
                    </div>
                    <div class="modal-window__title">{% blocktranslate %}Require a licence{% endblocktranslate %}</div>
                </div>
                <div class="modal-window__inner">
                    <div class="modal-window__inner-wrapper">
                        <p class="require-licence__text">
                            To get full access to the bookmaker service, you need to purchase the <b>"Full User License"</b>
                        </p>
                        <p></p>
                        <p class="require-licence__text">
                            Thanks to it, you can bet on sports events. This license gives access to all bookmaker services, including creating
                            trial accounts for your friends, thanks to which they will also be able to try themselves in bets.
                        </p>
                    </div>
                </div>
                <!-- /.modal-window__inner -->
            </div>
        </div>
        <div class="modal-wrap" id="calculatorModal">
            <div class="modal-bg contacts"></div>
            <div class="modal-window contacts">
                <div class="modal-window__header">
                    <div class="modal-window__close contacts" id="calculatorClose">
                        <span>&times;</span>
                    </div>
                    <div class="modal-window__title">{% blocktranslate %}Calculator{% endblocktranslate %}</div>
                </div>
                <div class="modal-window__inner">
                    <div class="modal-window__inner-wrapper">
                        {% include 'layout/calculator.html' %}
                    </div>
                </div>
                <!-- /.modal-window__inner -->
            </div>
        </div>
        {% endif %}
        {% block modals %}{% endblock %}
        <script>
            window.addEventListener("DOMContentLoaded", () => {
                const
                    main_block = document.querySelector(".page-main"),
                    csrf_token = "{{ csrf_token }}",
                    headers = {
                        'X-CSRFToken': csrf_token
                    },
                    url = "{% url 'lazy-load' %}",
                    mode = 'same-origin',
                    method = 'GET'

                let
                    fetching = false,
                    currentPage = 1,
                    type = 0

                const fetchLeagues = (event, type) => {
                    return fetch(`${url}?${new URLSearchParams({
                                kind_of_sport: "{{ type }}",
                                page: currentPage + 1
                           })}`, {
                            headers: headers,
                            method: method,
                            mode: mode
                        })
                        .then(response => {
                            fetching = false
                            if (response.ok) {
                                currentPage += 1
                                return response.json()
                            }
                            (type === 2 ? window : main_block)
                                .removeEventListener("scroll", fetchPerform, false)
                            return Promise.reject()
                        })
                        .then(response => {
                            const parser = new DOMParser()
                            const leagues = parser.parseFromString(response.posts_html, "text/html")
                            main_block.appendChild(leagues.documentElement)
                            $('div[id^="expand-"]').off()
                            $('div[id^="expand-"]').on('click', function(event) {
                                $(this).parent().parent().next().toggleClass("show").toggle(400, "linear")
                                $(this).toggleClass("show").show()
                            });
                            $(window).off()
                            $(window).click(function() {
                                $('.a-tooltip__wrapper').hide(200)
                            });
                            $('.a-tooltip').off()
                            $('.a-tooltip').on('click', function (event) {
                                event.stopPropagation();
                                const wrapper = $(this).children('.a-tooltip__wrapper')
                                $('.a-tooltip__wrapper').not(wrapper).hide(200, () => wrapper.show(300))
                            });
                        })
                        .catch(error => {})
                }

                const isScrolled = ({ target }, type) => {
                    if (type === 2) {
                        return main_block.scrollHeight - window.innerHeight <= window.scrollY
                    }
                    const { scrollHeight, offsetHeight, scrollTop} = target
                    return scrollHeight <= (offsetHeight + scrollTop)
                }

                const fetchPerform = (event) => {
                    if (isScrolled(event, type) && !fetching) {
                        fetching = true
                        window.requestAnimationFrame(() => fetchLeagues(event, type))
                    }
                }

                (() => {
                    if (window.innerWidth >= 1025) {
                        main_block.addEventListener("scroll", fetchPerform, false)
                        type = 1
                    } else {
                        window.addEventListener("scroll", fetchPerform, false)
                        type = 2
                    }
                })()
            })
        </script>
        <script src="{% static 'libs/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'libs/jquery.mask.min.js' %}"></script>
        <script src="{% static 'libs/protip.min.js' %}"></script>
        <script src="{% static 'libs/slick/slick.min.js' %}"></script>
        <script src="{% static 'js/calculator.js' %}"></script>
        {% if not user.is_authenticated %}
        <script>

            const betsCalculator = new BetsCalculator()
            const loginForm = $('#login-form')
            const signupForm = $('#signup-form')
            const currentUrl = new URL(location.href)
            $(document).ready(() => {
                if (localStorage.getItem('cookies_accepted') === null ) {
                    localStorage.setItem('cookies_accepted', false);
                    $('.cookies-notyf').addClass('visible');
                }
                else if (localStorage.getItem('cookies_accepted') === 'false') $('.cookies-notyf').addClass('visible');
                if ($(window).innerWidth() < 1025) $('.stake-amount').addClass('stake-amount__mobile')
                else $('.stake-amount').removeClass('stake-amount__mobile')
            })
            $(document).on('click', '.cat-btn.master-login-open', function() {
                const el = $(this)
                if (el.data('koef') !== 'None' && el.data('koef') !== ' None' && el.data('koef') !== 'None ' && el.data('koef') !== ' None ') {
                    betsCalculator.addBet({ eventId: el.data('id'), team: el.data('team'), betType: el.data('bettype'), match: el.data('match'), koef: el.data('koef') })
                    if ($(window).innerWidth() < 1025) {
                        $('#calculatorModal').addClass('show')
                    }
                }
            })
            $(document).on('click', '.koef.master-login-open', function () {
                const el = $(this)
                if (el.data('koef') !== 'None' && el.data('koef') !== ' None' && el.data('koef') !== 'None ' && el.data('koef') !== ' None ') {
                    betsCalculator.addBet({ eventId: el.data('id'), team: el.data('team'), betType: el.data('bettype'), match: el.data('match'), koef: el.data('koef') })
                    if ($(window).innerWidth() < 1025) {
                        $('#calculatorModal').addClass('show')
                    }
                }
            })
            $(document).on('click', '.koef-container', function () {
                const el = $(this)
                if (el.data('koef') !== 'None' && el.data('koef') !== ' None' && el.data('koef') !== 'None ' && el.data('koef') !== ' None ') {
                    betsCalculator.addBet({ eventId: el.data('id'), team: el.data('team'), betType: el.data('bettype'), match: el.data('match'), koef: el.data('koef') })
                    if ($(window).innerWidth() < 1025) {
                        $('#calculatorModal').addClass('show')
                    }
                }
            })
            $(document).on('click', '#remove-bet', function () {
                const el = $(this)
                betsCalculator.removeBet(el.data('bet'))
            })
            $('.stake-amount').on('change', function() {
                betsCalculator.changeStake($(this).val())
            })

            // $('.stake-amount__mobile').on('change', function() {
            //     const el = $('.stake-amount__mobile')
            //     console.log('wtf')
            //     console.log(el)
            //     betsCalculator.changeStake($(this).val())
            // })

            // $(document).on('click', '.master-login-open', function() {
            //     $('#loginModal').addClass('show');
            //     $('#login-type').val('master');
            // });
            $('#regBtn').on('click', function() {
                $('#regModal').addClass('show');
            });

            $('.placeBet').on('click', function () {
                $('#placeBetModal').addClass('show');
            });
            $('#calculatorClose').on('click', function () {
                $('#calculatorModal').removeClass('show');
            });
            $('#placeBetClose').on('click', function () {
                $('#placeBetModal').removeClass('show');
            });
            $('#cookies-agree').on('click', function() {
                localStorage.setItem('cookies_accepted', true)
                $('.cookies-notyf').removeClass('visible')
            })
            $('#mobileregBtn').on('click', function () {
                $('#regModal').addClass('show');
            });
            $('#loginMaster').on('click', function() {
                $('#loginModal').addClass('show');
                $('#login-type').val('master');
            });
            $('#mobileloginMaster').on('click', function () {
                $('#loginModal').addClass('show');
                $('#login-type').val('master');
            });
            $('#loginSatellite').on('click', function() {
                $('#loginModal').addClass('show');
                $('#login-type').val('satellite');
            });
            $('#mobileloginSatellite').on('click', function () {
                $('#loginModal').addClass('show');
                $('#login-type').val('satellite');
            });
            $('.modal-bg').on('click', function() {
                $('.modal-wrap').removeClass('show');
                loginForm.find('.modal-window__form-error').removeClass('show')
            });
            $('.modal-window__close').on('click', function () {
                $('#giftModal').removeClass('show');
            });

            loginForm.submit((e)=> {
                e.preventDefault();
                const
                    formData = new FormData(e.target),
                    csrf_token = "{{ csrf_token }}"

                $.ajax({
                    type: "POST",
                    url: "/es/client/login/",
                    data: loginForm.serialize(),
                    headers: { 'X-CSRFToken': csrf_token },
                    success: () => {
                        window.location.href = '/satellites/'
                    },
                    error: () => {
                        loginForm.find('.modal-window__form-error').addClass('show')
                    }
                })
            })

            signupForm.submit((e) => {
                e.preventDefault();
                window.location.href = '/signup/success/'
            })

            if(currentUrl.searchParams.get('login') == "true")
                $('#loginSatellite').click()
        </script>
        {% endif %}
        <script>
            const header = $('.header'),
                  body = $('body'),
                  pageWrapper = $('.page-wrapper')
            let lastScroll,
                isMobile = $(window).innerWidth() < 1018,
                ticking = false

            const onScroll = (event) => {
                if (isMobile) {
                    if((lastScroll - window.scrollY) > 0 && !header.hasClass('is-fixed') && window.scrollY >= 20) {
                        pageWrapper.addClass('header-fixed')
                        header.addClass('is-fixed')
                    } else if ((lastScroll - window.scrollY) <= 0 || window.scrollY < 20) {
                        pageWrapper.removeClass('header-fixed')
                        header.removeClass('is-fixed')
                    }
                    lastScroll = window.scrollY
                }
                ticking = false
            }

            $(function(){
                if (isMobile) {
                    $('.news').toggleClass('hidden')
                    $('category-item__container__info').toggleClass('mobile')
                }
                else {
                    $('.news').removeClass('hidden')
                    $('category-item__container__info').removeClass('mobile')
                }
                if (window.location.pathname.includes('news')) $('div[class^="sidebar-"]').addClass('hidden')
            })
            $(window).resize(function () {
                isMobile = $(window).innerWidth() < 1018
                if (isMobile) {
                    if ($('.news').hasClass('hidden')) return
                    else $('.news').addClass('hidden')
                }
                else {
                    $('.news').removeClass('hidden')
                    header.removeClass('is-fixed')
                }
            })
            $(window).scroll((event) => {
                if (!ticking) {
                    window.requestAnimationFrame(() => onScroll(event))
                    ticking = true
                }
            });
            $('.header-burger').on('click', function() {
                $(this).toggleClass('active')
                $('.mobile-menu').toggleClass('active')
                $(document.body).toggleClass('hidden')
            })
            $('.mobile-menu__inner-login').on('click', function () {
                $(this).toggleClass('active')
                $('.mobile-menu__inner-login__dropdown').toggleClass('active')
            })
            $('.header-gift__btn').on('click', function () {
                $('#giftModal').addClass('show')
            });
            $('.page-bg__slider').slick({
                arrows: false,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 5000,
                draggable: false,
                fade: true,
                asNavFor: '.header__countries'
            });
            $('.header__countries').slick({
                arrows: false,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 5000,
                draggable: false,
                adaptiveHeight: true,
                fade: true,
                asNavFor: '.page-bg__slider'
            });
            $('div[id^="expand-"]').on('click', function(event) {
                $(this).parent().parent().next().toggleClass("show").toggle(400, "linear")
                $(this).toggleClass("show").show()
            });
            $(window).click(function() {
                $('.a-tooltip__wrapper').hide(200)
                $('.mobile-menu__tooltip-wrapper').hide(200)
            });
            $('.a-tooltip').on('click', function (event) {
                event.stopPropagation();
                const wrapper = $(this).children('.a-tooltip__wrapper')
                $('.a-tooltip__wrapper').not(wrapper).hide(200, () => wrapper.show(300))
            });
            $('.mobile-menu__tooltip').on('click', function (event) {
                event.stopPropagation();
                const wrapper = $(this).children('.mobile-menu__tooltip-wrapper')
                $('.mobile-menu__tooltip-wrapper').not(wrapper).hide(200, () => wrapper.show(300))
            });
            $('.a-tooltip--to-right').on('click', function (event) {
                event.stopPropagation();
                const wrapper = $(this).children('.a-tooltip__wrapper')
                $('.a-tooltip__wrapper').not(wrapper).hide(200, () => wrapper.show(300))
            });
            $('#expand show').on('click', function() {
                $('.expand.show').removeClass('show')
                $('#category-expanded').removeClass('show')
            })
            $('#us').on('click', function() {
                locale = $(this).attr('id')
            });
            $('#es').on('click', function () {
                locale = $(this).attr('id')
            });
            $('#fr').on('click', function () {
                locale = $(this).attr('id')
            });
        </script>

        <script>
            $('#contact-us').on('click', function() {
                $('#contactsModal').addClass('show');
            });
            $('#contactsClose').on('click', function () {
                $('#contactsModal').removeClass('show');
            });
            $('.input-phone-mask').mask('(00) 0000-000');
        </script>

        {% block scripts %}{% endblock %}
    </body>
</html>
