{% load i18n static %}
{% load translate_url %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}

<header class="header">
    <div class="header__container">
        <div class="header__inner">
            <a href="{% url 'football-index' %}" class="header__logo left">
                <img src="{% static 'img/logo.svg' %}" width="105" height="80" alt="Gramline">
            </a>
            <div class="header-gift left">
                <img src="{% static 'img/icons/gift.svg' %}" alt="">
                <button class="header-gift__btn">gift</button>
            </div>
            <a href="{% url 'football-index' %}" class="header__logo right">
                <img src="{% static 'img/logo.svg' %}" width="105" height="80" alt="Gramline">
            </a>
            <div class="header__countries">
                <div class="header__country-item">
                    <img src="{% static 'img/header/luxemburg.webp' %}">
                </div>
                <div class="header__country-item">
                    <img src="{% static 'img/header/lichtenstein.webp' %}">
                </div>
                <div class="header__country-item">
                    <img src="{% static 'img/header/cyprus.webp' %}">
                </div>
                <div class="header__country-item">
                    <img src="{% static 'img/header/malta.webp' %}">
                </div>
            </div>

            {% if user.is_authenticated and request.resolver_match.url_name == "football-index" %}
                <div class="header__right">
                    <a href="{% url 'satellites' %}" class="header__cabinet-button">
                        <button class="primary-btn header-reg">
                            <span>{% blocktranslate %}my cabinet{% endblocktranslate %}</span>
                        </button>
                    </a>
                    <a class="btn --logout header-logout" href="{% url 'logout' %}">
                        {% blocktranslate %}logout{% endblocktranslate %}
                    </a>
                    <div class="header__right">
                        <div class="header-burger">
                            <span></span>
                        </div>
                    </div>
                </div>
            {% elif not user.is_authenticated %}
                <div class="header__right">
                    <div class="header-gift right">
                        <img src="{% static 'img/icons/gift.svg' %}" alt="">
                        <button class="header-gift__btn">gift</button>
                    </div>
                    <div class="header-lang">
                        <div class="header-lang__preview">
                            <img src="https://media.api-sports.io/flags/{% if lang.code == 'en' %}us{% else %}{{ lang.code }}{% endif %}.svg" class="country"/>
                            <img src="{% static 'img/icons/arr-down.svg' %}" class="arr" />
                        </div>
                        <div class="header-lang__dropdown">
                        {% get_available_languages as LANGUAGES %}
                        {% for lang in LANGUAGES %}
                            {% csrf_token %}
                            <div class="header__country-item">
                                <a href="{% translate_url lang.0 %}">
                                    <img src="https://media.api-sports.io/flags/{{ lang.1 }}.svg" alt="{{ lang.1 }}">
                                </a>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="header-auth">
                        <div class="header-login">
                            <button class="btn">
                                {% blocktranslate %}Log in{% endblocktranslate %}
                                <!-- <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L5 5L9 1" stroke="#C4C4C4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> -->
                            </button>
                            <div class="header-login__dropdown">
                                <div class="header-login__types">
                                    <button class="header-login__type" id="loginMaster">{% blocktranslate %}Master account{% endblocktranslate %}</button>
                                    <button class="header-login__type" id="loginSatellite">{% blocktranslate %}Satellite account{% endblocktranslate %}</button>
                                </div>
                            </div>
                        </div>

                        <button class="primary-btn header-reg" id="regBtn">
                            <span>{% blocktranslate %}Register{% endblocktranslate %}</span>
                        </button>
                    </div>
                    <div class="header-burger">
                        <span></span>
                    </div>
                </div>
            {% else %}
                <div class="header__right">
                    <a class="btn --logout header-logout" href="{% url 'logout' %}">
                        {% blocktranslate %}logout{% endblocktranslate %}
                    </a>
                    <div class="header-burger">
                        <span></span>
                    </div>
                </div>
            {% endif %}

            <!-- {% if user.is_authenticated and not request.resolver_match.url_name == "football-index" %}
                <div class="header__right">
                    <a href="/" class="primary-btn --arrow --goto">
                        <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM1 4.5H18V3.5H1V4.5Z" fill="white"/>
                        </svg>
                        <span>{% blocktranslate %}go to main page{% endblocktranslate %}</span>
                    </a>
                </div>
            {% endif %} -->
        </div>
    </div>
</header>
